# Created by .ignore support plugin (hsz.mobi)
/server/target
/client/target
/common/common.iml
/server/server.iml
/client/client.iml
/client/src/main/main1.iml
/server/src/main/main.iml
/client/src/test/test.iml
/.gitignore
